<html>
    {% include "head.html" %}
    <body style="display: flex; flex-flow: column;">
        {% include "header.html" %}
        <main class="container" style="place-items: center; display: flex; height: 100%;">
            <div style="width: 100%;">
                <div class="row">
                    <div class="input-field col s8 m8 offset-m2 xl4 offset-xl4">
                        <input placeholder="Username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 m8 offset-m2 xl4 offset-xl4">
                        <input placeholder="Password" type="password" id="username" type="text" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="button col s4 m4 offset-m2 xl2 offset-xl4">
                        <a class="waves-effect waves-light btn">Login</a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>