<html>
    {% include "head.html" %}
    <body>
        {% include "header.html" %}
        <main>
            <div class="row s6">
                <div class="input-field col">
                    <input placeholder="Username" id="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input placeholder="Password" type="password" id="username" type="text" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="button col">
                    <a class="waves-effect waves-light btn">Login</a>
                </div>
            </div>
        </main>
    </body>
</html>